<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <!-- Debug-only smoke test for the Compose design system (M0). -->
        <activity
            android:name="net.kdt.pojavlaunch.ui.ComposeShowcaseActivity"
            android:exported="true"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar" />
    </application>
</manifest>
